<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <div class="whiteout">

      <%= t.include("partials/_nav.html") %>

      <%= t.include("partials/_ad.html", { type: "banner" }) %>

      <h1 class="constrained">If you think Seattle traffic is bad now, just wait until these projects start</h1>

      <div class="splash">
        <div class="animation-container">
          <img src="./assets/animation/maxcon_banner_bg.jpg" class="backdrop">
          <img src="./assets/animation/maxcon_banner_bus.png" class="bus-left layer">
          <img src="./assets/animation/maxcon_banner_bus_2.png" class="bus-right layer">
          <img src="./assets/animation/maxcon_banner_biker.png" class="bike layer">
        </div>
      </div>

      <div class="constrained">

        <div class="byline">
          <div class="author">By <a href="https://www.seattletimes.com/author/mike-lindblom/">Mike Lindblom</a></div>
          <div class="date">Published Jan. 7, 2018</div>
        </div>

        <%= markdown.text %>
      </div>
    </div>

    <div class="interactive">
      <savage-image src="./assets/map.svg" class="map-container" aria-label="A map of all construction projects in One Center City" role="img"></savage-image>
        <div class="poi instructions">
          Scroll the page to view each project in One Center City, including start and end dates and a description of the planned work.
        </div>
      <%
      var commonmark = require("commonmark");
      var parser = new commonmark.Parser();
      var writer = new commonmark.HtmlRenderer({ smart: true });
      var html = md => writer.render(parser.parse(md));
      %>
      <% json.poi.forEach(function(poi) { %>
        <div class="poi" data-map="<%= poi.link || "" %>">
          <%= t.include("_poi.html", { poi, html }) %>
        </div>
      <% }) %>
    </div>

    <div class="whiteout">
      <div class="constrained">

        <div class="credit-block">
          <div class="credits">
            <div class="reporter">
              Mike Lindblom: 206-515-5631 or mlindblom@seattletimes.com. Twitter: @mikelindblom
            </div>

            <h2>Additional Credits</h2>
            <ul>
              <li> Design: Mark Nowlin
              <li> Animation: Jennifer Luxton
              <li> Development: Thomas Wilburn
              <li> Project management: Laura Gordon
              <li> Editing: Richard Wagoner
            </ul>
          </div>

          <%= t.include("partials/_subscribe.html") %>
        </div>

        <footer class="comment-block">
          <%= t.include("partials/_comments.html", { article: "designer-app-1515095881736" }) %>
        </footer>

      </div>

      <%= t.include("partials/_navBottom.html") %>
    </div>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
