<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <div class="whiteout">

      <%= t.include("partials/_nav.html") %>

      <%= t.include("partials/_ad.html", { type: "banner" }) %>

      <div class="splash">
        <svg class="placeholder" viewBox="0 0 1 1" preserveAspectRatio="none">
          <line x1="0" y1="0" x2="1" y2="1" vector-effect="non-scaling-stroke" stroke="black"></line>
          <line x1="0" y1="1" x2="1" y2="0" vector-effect="non-scaling-stroke" stroke="black"></line>
        </svg>
      </div>

      <div class="constrained">
        <h1>If you think Seattle traffic is bad now, just wait until all these projects start</h1>

        <div class="byline">
          <div class="author">By Mike Lindblom</div>
          <div class="date">Published Jan. 7, 2018</div>
        </div>

        <%= markdown.text %>
      </div>
    </div>

    <div class="interactive">
      <savage-image src="./assets/map.svg" class="map-container"></savage-image>
        <div class="poi instructions">
          Scroll the page to view each project in One Center City, including start and end dates and a description of the planned work.
        </div>
      <%
      var commonmark = require("commonmark");
      var parser = new commonmark.Parser();
      var writer = new commonmark.HtmlRenderer({ smart: true });
      var html = md => writer.render(parser.parse(md));
      %>;
      <% json.poi.filter(p => p.link).forEach(function(poi) { %>
        <div class="poi" data-map="<%= poi.link || "" %>">
          <h3><%= poi.head %></h3>
          <% if (poi.start || poi.end) { %>
          <ul class="dates">
            <% if (poi.start) { %><li><span class="label">Start:</span> <%= poi.start %><% } %>
            <% if (poi.end) { %><li><span class="label">End:</span> <%= poi.end %><% } %>
          </ul>
          <% } %>
          <div class="text">
            <%= html(poi.text) %>
          </div>
        </div>
      <% }) %>
    </div>

    <div class="whiteout">
      <div class="constrained">
        <h2>Other projects</h2>
        <% json.poi.filter(p => !p.link).forEach(function(poi) { %>
        <div class="item">
          <h3><%= poi.head %></h3>
          <% if (poi.start || poi.end) { %>
          <ul class="dates">
            <% if (poi.start) { %><li><span class="label">Start:</span> <%= poi.start %><% } %>
            <% if (poi.end) { %><li><span class="label">End:</span> <%= poi.end %><% } %>
          </ul>
          <% } %>
          <div class="text">
            <%= html(poi.text) %>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
